body {
  background-color:#C2DED1;
}

hr{
  background-color:none;
  border-style: none;
  border-top: 3px dotted grey;
  height: 2px;
  width: 80%;
}

h1{
  color: #66BFBF;
}

h2{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
